/* Цвета в проекте */
/* цвет основного текста #212121 */
/* цвет дополнительного текста #757575 */
/* background основонй: #F5F5F5; */
/* #2196F3 100% синий и акцент  */
/* background hero и footter: #2F303A; */
/* цвет h1 и текста в hero и footer:  #FFFFFF;*/
/* цвет ссілок почты и телефона в footer: rgba(255, 255, 255, 0.6);*/
/* цвет фона кнопок портфолио #F5F4FA */
:root{
    --header-color: #212121;
    --p-color: #757575;
    --accent-color: #2196F3;
    --background-color: #F5F5F5;
    --background-color-footer: #2F303A;
    --h1-footer-color: #FFFFFF;
    --mail-phone-color-footer: rgba(255, 255, 255, 0.6);
    --background-button-portfolio: #F5F4FA ;
}
body{
    color:var(--header-color);
  /*  background-color: var(--background-color); */
}

/* footer, .hero {
    background-color: var(--background-color-footer);
}*/
ul{
    list-style: none;
}
/* -------стилизация Header-------*/
/* стилизация logo */
.logo{
    color: #000000;
}
.logo span{
    color: var(--accent-color) ;
}
/*   ----- конец стилизации logo -------*/
/* стилизация nav и connection*/
.site-nav .link, .connection .link{
color: var(--header-color);
}
.click a:hover, .click a:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
/*   ----- конец стилизации Header-------*/
/* -----стилизация секции hero-----*/
 /* ---- конец стилизации секции hero -----*/
 .hero h1{
    color: var(--h1-footer-color);
    background-color: var(--background-color-footer);
 }
 .button{
    color: var(--h1-footer-color);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
 }
/* стилизация секций */
.section-text{
    color: var(--p-color) ;
}
/* стилизуем footer*/
footer .logo {
    color: var(--h1-footer-color);
    background-color: var(--background-color-footer);
}
.map{
    color: var(--h1-footer-color);
    background-color: var(--background-color-footer);
}
.address .link{
    color: var(--mail-phone-color-footer);
    background-color: var(--background-color-footer);
}
 /*  стилизация кнопок портфолио */
 .button-portfolio {
     color: var(--header-color);
     background-color: var(--background-button-portfolio);
     border: none;
     cursor: pointer;
    }
  .button-portfolio.current{
      color: var(--h1-footer-color);
      background-color: var(--accent-color);
      border: none;
      cursor: pointer;
  }